
    <div class="flex justify-between">
        <span class="pb-2 text-center">{{name}}</span>
        <div class="flex flex-row">
            {{#if showSendCuration}}
            <a href="/trip/{{id}}/curate"><i class="fas fa-plane-departure text-gray-700 hover:text-red-400 mr-20"></i></a>
            {{/if}}
            {{#if showView}}
            <a href="#"><i class="fas fa-eye text-gray-700 hover:text-red-400 mr-20"></i></a>
            {{/if}}
            {{#if showDelete}}
            <a onclick="deleteTrip({{id}})" href="javascript:void(0);"><i class="fas fa-trash-alt text-gray-700 hover:text-red-400 mr-20"></i></a>
            {{/if}}
            {{#if showEdit}}
            <a href="/trip/{{id}}"><i class="fas fa-pencil-alt text-gray-700 hover:text-green-400"></i></a>
            {{/if}}
        </div>
    </div>
