
    <div class="flex justify-between">
        <span class="pb-2 text-center">{{curator.first_name}}</span>
        <span class="pb-2 text-center">{{amount}}</span>
        <div class="flex flex-row">
            <div class="inline-block pl-2 pr-2"><a href="/trip/{{trip_id}}/quotes/{{id}}"><i class="fas fa-eye text-gray-700 hover:text-red-400"></i></a></div>
        </div>
    </div>
