<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- All the stylesheets -->
    <link rel="stylesheet" href="./css/customStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">

    <!-- All the required scripts -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="./js/createTrip.js"></script>

    <title>Create Trip</title>
</head>
<body>

    <header class="navbar">
        <a class="header1 unselect" href="#">Travel Bug <i class="fas fa-bug bugIcon"></i><a>
        <nav>
            <ul>
                <li><i class="fas fa-user-circle userIcon"></i></li>
            </ul>
        </nav>
    </header>

    <div class="content">
    
        <section class="tripCreatorSec" id="tripCreatorSec">
    
            <h2 class="header2 unselect">Create Trip...</h2>
            
            <div class="tripCreator" id="tripCreator">
                <div class="inputSec">
                    <input class="input" type="text" placeholder="Add a city..." id="add">
                    <button class="addBtn" onclick="getSearch()" id="submit"><i class="fas fa-plus"></i></button>
                </div>
            </div>
            <div class="saveBtnWrap">
                <button class="saveBtn" onclick="saveData()"><i class="fas fa-save"></i></button>
            </div>
    
        </section>

        <section class="mapPreview" id="mapPreview">
            <div id="map"></div>
        </section>
    </div>

    <!-- <footer class="unselect">
        <a class="footerLink" href="#">About</a>
        <a class="footerLink" href="#">Contact</a>
    </footer> -->
    
    <!-- For Google Maps API -->
    <script    
      src="https://maps.googleapis.com/maps/api/js?key={{ENV.GOOGLE_API}}&callback=initMap&libraries=&v=weekly"
      async
    ></script>

</body>
</html>