<div class="overflow-hidden px-3 py-10 bg-blue-400 flex justify-center">
    <div class="w-full max-w-xs ">
    <form class="signup-form bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <p>You are attempting to sign up as a curator. You will be taken through an onboarding step in order to activate your account.</p>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
            Continue
        </button>
    </form>
    </div>
</div>
{{#content "scripts"}}
    <script src="/js/curator_signup.js"></script>
{{/content}}