<div class="grid grid-cols-1 md:grid-cols-3 text-lg font-semibold"><!--promo section-->       
    <div class="bg-white rounded-lg overflow-hidden shadow-2xl m-5 p-5"><!--Inspiration Card--> 
        <div class="">
            <img src="img/follow that dream.jpg" class="h-90 w-full object-cover">
            <div class="bg-white text-blue-900 text-3xl border-b border-blue-400 py-2">
                <span>Get Inspired!</span>
            </div>
        </div>
        <ul class="pt-3">
            <li>&bull;  Create a personalised inspiration board with pictures and snippets</li>
            <li>&bull;  Explore Google Maps and plot your routes</li>
            <li>&bull;  Create a Bucket List of amazing journeys and experiences</li>
        </ul>     
    </div>
    <div class="bg-white rounded-lg overflow-hidden shadow-2xl m-5 p-5"><!--Planning Card-->
        <div class="">
            <img src="img/travel map.jpg" class="h-90 w-full object-cover">
        </div>
        <div class="bg-white text-blue-900 text-3xl border-b border-blue-400 py-2">
            <span>Get Ready!</span>
        </div>
        <ul class="pt-3">
            <li>&bull;  Plan your Travel route</li>
            <li>&bull;  Create an Itinery</li>
            <li>&bull;  Invite others to join you</li>
            <li>&bull;  Get quotes and itinery suggestions from registered travel agents</li>
        </ul> 
    </div>

    <div class="bg-white rounded-lg overflow-hidden shadow-2xl m-5 p-5"><!--Booking Card-->
        <div>
            <img src="img/passport and ticket.jpg" class="h-90 w-full object-cover">
        </div>
        <div class="bg-white text-blue-900 text-3xl border-b border-blue-400 py-2">
            <span>...and go!</span>
        </div>
        <ul class="pt-3">
            <li>&bull;  Book and pay for your trip through TravelBug</li>
            <li>&bull;  Head off on your special adventure!</li>
            <li>&bull;  Fill your TravelBug journal with photos and tales of your experiences!</li>
        </ul> 
    </div>
</div>